 .milkBalance{
 
//  ********* row css *********//
.row{
    padding: 5%;
    h4{
        display: block;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        letter-spacing: .1em;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
        color: white;
    }
}
//  ********* slidecontainer css *********//
.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    // background: url('contrasticon.png');
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    // background: url('contrasticon.png');
    cursor: pointer;
  }
}